@import './../../../vars.scss';


#sidebar{
    position: fixed;
    box-shadow: 5px 0px 3px rgba(0,0,0,0.13);
    z-index: 1000;
    height: 100%;
    width: $sidebar-collapsed-width;
    transition: 0.5s;

    // @include until($tablet) {
    //
    // }
    //transform: translate(-100%);

    .sidebar-body{
        //display: none;
    }

    .sidebar-footer{
        // position: absolute;
        // bottom: 0;
        // width: 100%;
    }
}

.open{
    //transform: translate(0) !important;
    width: 250px !important;
}


.notifi{
    border-top: 1px solid $light2;
    border-bottom: 1px solid $light2;
}

.verticaltext{
    width: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translate(5px);
}



.collapse-button{
    position: absolute;
    left: 100%;

    button{
        border-radius: 0px 50% 50% 0px !important;
    }
}
