@import 'vars';

.reportTabs{

    ul{
        border: none !important;

        li a{
            border-radius: 100px !important;
            background: #FFFFFF !important;
            box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15) !important;
            color: #999999 !important;
        }


        li.is-active a{
            border: none !important;
            color: white !important;
            background: $hred !important;
            box-shadow: none !important;
        }
    }
}
