@import 'vars';

.black-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.8);

     z-index: 999;

     transition: 0.5s;
}

.is-transparent{
    opacity: 0 !important;
    z-index: -1 !important;
}

#main{
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
#main::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#main::-webkit-scrollbar-track {
  background: $primary-light;
  border-radius: 20px;
}

/* Handle */
#main::-webkit-scrollbar-thumb {
  background: $light2;
  border-radius: 20px;
}

/* Handle on hover */
#main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
