@import '../../../vars.scss';

.table-head1{
    position: sticky;
    top: 0;
    z-index: 3;
}

.table-item{

    border-right: 1px solid #cccccc;
    color: #333333;


    &.hgreen{
        border-color: $hgreen;
        color: $hgreen;
    }

    &.hblue{
        border-color: $hblue;
        color: $hblue;
    }

    &.horange{
        border-color: $horange;
        color: $horange;
    }

    &.hred{
        border-color: $hred;
        color: $hred;
    }

    &.hyellow{
        border-color: $hyellow;
        color: $hyellow;
    }

    &.is-1{
        flex-grow: 1;
        width: 150px;
    }

    &.is-2{
        flex-grow: 2;
        width: 250px;

    }

    &.is-3{
        flex-grow: 3;
        width: 350px;

    }

    &.no-border{
        border: none !important;
    }
}
