@import "vars";

.country-container{
    border-radius: 100px 0 0 100px;
}

.country-btn{
    width: 62px;
    height: 62px;
    min-width: 62px;

    border-radius: 50%;
    background: red;

    display: grid;
    place-items: center;
    box-shadow: inset 1.72222px 1.72222px 1.72222px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    transition: 0.5s;

    &.is-active{
        background: $hred !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
}
