@import '../../../vars';

.email-editor{
    display: flex;
    flex-direction: column;
    height: 100%;

    .quill{

        height: 100%;
        flex-grow: 1;
    }
    .ql-container{
        //background: red;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.05) !important;
        outline: none;

        height: 100%;

        overflow-y: scroll;

        font-style: normal;
        font-size: 1rem;
    }

    #toolbaremail{
        align-self: flex-end;
    }
}



.ql-header.email.ql-picker{
    color: $hblack !important;
}


.ql-header.email .ql-picker-label{

    &:before{
        color: $hblack !important;
    }

}

.ql-header.email .ql-picker-options{
    background: $light2 !important;
    color: white;
    border-radius: 10px;
    transform: translateY(5px);
}


.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    background: $light;
    border-radius: 7px;
}

// // *~~**~~**~~**~~**~~**~~**~~**~~**~~**~~**~~**~~*
.email {
    .ql-stroke{
        stroke: $hblack;

    }



    .ql-fill{
        fill: $hblack !important;
    }
}


//
// .ql-editor.ql-blank::before{
//     font-style: normal;
//     font-size: 1rem;
//     color: #AAAAAA;
// }

.ql-toolbar {
    background: rgba(0,0,0,0);
    border: none !important;
    padding: 10px 0 !important;

    white-space: nowrap;

    @media only screen and (max-width: 769px) {
        overflow-x: scroll;
    }


}

.ql-selected{
  color: blue !important;

}

.ql-formats{

    &.email{
        border-color: black !important;
    }
}
