 @import 'vars';
.tab{
    display: none;
    overflow: hidden;
    height: 100%;

    &.is-active{
        display: block !important;
    }
}

.tabs1{
    ul{
        border: none !important;

        li.is-active a{
            border: none !important;
            color: $primary ;
        }
    }

}

.createTab{
    ul{
        border: none !important;

        li.is-active a{
            border: none !important;
            color: $primary !important;
        }

    }


}
