@import 'vars';

.sub-btn{



    &::after{
        content:"";
        position: absolute;

        top: 0;
        left: 21px;
        height: 35px;
        border-left: 2px solid rgba(black, 0.5);
        transform: translateY(-50%);
    }

    &.hred{
        &::after{
            border-color: rgba($hred, 0.5);
        }
    }

    &.hblack{
        &::after{
            border-color: rgba($hblack, 0.5);
        }
    }



}
