@import '../../../vars';

.ql-container {
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    outline: none;
    min-height: 100px;
    max-height: 300px;

    overflow-y: scroll;

    font-style: normal;
    font-size: 1rem;



}

.ql-editor.ql-blank::before{
    font-style: normal;
    font-size: 1rem;
    color: #AAAAAA;
}


.ql-toolbar {
    background: rgba(0,0,0,0);
    border: none !important;
    padding: 10px 0 !important;

    white-space: nowrap;

    @media only screen and (max-width: 769px) {
        overflow-x: scroll;
    }


}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #9CC9A3;
}

.ql-toolbar .ql-fill {
    fill: #9CC9A3;
    stroke: none;

}

.ql-header .ql-picker{
  color: #9CC9A3;

}

.ql-color .ql-picker-options{

    background: white !important;
    border-radius: 10px;
    border: 2px solid #9CC9A3 !important;
    transform: translateY(5px);
    max-width: 200px !important;
    width: 177px !important;

}

.ql-header .ql-picker-label{

    &:before{
        color: #9CC9A3;
    }

}


.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    background: #DFECE1;
    border: none;
    border-radius: 7px;
}

.ql-header .ql-picker-options{
    background: #9CC9A3 !important;
    color: white;
    border-radius: 10px;
    transform: translateY(5px);

}

.ql-selected{
  color: blue !important;

}

.ql-formats{

    border-right: 1px solid #9CC9A3 !important;
    padding-right: 10px;
    margin-right: 10px !important;
}

.no-border{
    border: none !important;
}


// *~~**~~**~~**~~**~~**~~**~~**~~**~~**~~**~~**~~*
.text-editor{
    position: relative;
}
.send-btn{

    //
    position: absolute;
    z-index: 10;
    right: 0;
    //
    transform: translate(-10px, 10px);
    
    span{
        &:hover{
            color: $primary;
        }
    }
}
