@import "../../../../../vars";

.productsTabs {
  ul {
    border: none !important;

    li a {
      border-radius: 100px !important;
      background: #ffffff !important;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15) !important;
      color: #999999 !important;
    }

    li.is-active a {
      border: none !important;
      color: white !important;
      background: $horange !important;
      box-shadow: none !important;
    }
  }
}

.edit-btns-products {
  position: absolute !important;
  top: 50% !important;

  @media (min-width: 769px) {
    right: 0;
    transform: translate(calc(100% + 20px), -50%);
  }

  @media (max-width: 769px) {
    left: 0;
    transform: translate(calc(-100% - 20px), -50%);
  }
}

.edit-btns-products2 {
  position: absolute;
  top: 50%;

  @media (min-width: 769px) {
    right: 0;
    transform: translate(calc(100% + 20px), -50%);
  }

  @media (max-width: 769px) {
    left: 0;
    transform: translate(calc(-100% - 20px), -50%);
  }
}
