.dateclass {
  width: 100%;

  cursor: pointer;


}

.dateclass.placeholderclass::before {
    transform: translateX(30px);
    width: 100%;
    color: #cccccc;
    content: attr(placeholder);
}

.dateclass.placeholderclass:hover::before {
  width: 0%;
  content: "";
}

.dateclass::-webkit-calendar-picker-indicator {
     position: absolute; left: 0;
     transform: translate(-15px);


     opacity: 1;
     display: block;
     background: url(https://drive.google.com/uc?export=view&id=1dQRRNKdY_MCWEsrLPJsLwHt243FuDYu-) no-repeat;
     width: 20px;
     height: 20px;
     border-width: thin;
}


.dateclass::-webkit-datetime-edit { transform: translateX(15px); }

.dateclass::-webkit-datetime-edit-fields-wrapper { transform: translateX(15px); }
