@import 'vars';

.dropdown-trigger{
    button{
        border-top: none;
        border-left: none;
        border-right: none;
    }
}

.searchbar{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    outline: none;
}

.table-header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    align-self: flex-start;

    z-index: 2;



}

.fila{



    .column{
        border-right: 1px solid black;

        &.hgreen{border-color: $hgreen !important;}
        &.hblue{border-color: $hblue !important;}
        &.hred{border-color: $hred !important;}
        &.horange{border-color: $horange !important;}

    }
}

.fila2{
    .column{
        border-right: 1px solid rgba(0,0,0,0.2);
    }
}


.edit-btns-news{

    @media (max-width: 769px){

        
        position: absolute !important;
        top: 50% !important;
        left: 0;
        transform: translate( calc(-100% - 20px), -50% );
    }
}
