@import "vars";

.trackingTabs {
  ul {
    border: none !important;

    li.is-active a {
      border: none !important;
      color: $hblue !important;
    }
  }
}

.line {
  position: absolute;
  background: rgba($hred, 0.5) !important;
}

.areacool {
  background: #ffffff !important;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
  border-radius: 12px !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  outline: none !important;
  min-height: 100px !important;
  max-height: 300px !important;

  overflow-y: scroll;

  font-style: normal;
  font-size: 1rem;
}

.treatment-btn {
  &.is-active {
    text-decoration: underline;
    color: $hblue !important;
  }
}
