@import "../../../vars";

.progress-container {
  position: relative;

  width: 100%;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar {
  width: 95% !important;
  color: red !important;
}

.progress-display-container {
  position: absolute;

  width: 95%;
  height: 1px;
}

.progress-circle-indicator {
  position: absolute;

  width: 50px;
  height: 50px;

  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background: rgba(50, 50, 50, 0.5);

  box-shadow: 0px 0px 50px 10px white;
}

.progress.has-background-primary::-webkit-progress-value {
  background-color: $primary;
}

.progress.has-background-primary::-moz-progress-bar {
  background-color: $primary;
}

.progress.has-background-hblue::-webkit-progress-value {
  background-color: $hblue;
}

.progress.has-background-hblue::-moz-progress-bar {
  background-color: $hblue;
}
