@import "./vars";
@import "~bulma";

#main{
    height: 100%;
    transition: 0.5s;
    max-height: 100%;
    overflow: scroll;
    margin-left: $sidebar-collapsed-width + 10px;
}

.modal{
    z-index: 10000;
}

.main-open{
    @include from($desktop){
        margin-left: 260px !important;
    }
}

.button.has-text-left {
    justify-content: flex-start;

}

.button.has-text-right {
    justify-content: flex-end;
}
