// Set your brand colors
$pink: #FF007A; //uniswap color
$blue: #2172E5;


// Update Bulma's global variables
$primary: #519EA1;//#6992D6; //$pink;
$primary-light: #DCEFF0;
$dark: #0E1319;
$link: $blue;
$light: #F0F0F0;
$light2: #999999;
//$red: #AB0704;

//app colors
$hgreen: #9CC9A3;   $hgreen-light: #EBF4EC;
$hblue: #6992D6;    $hblue-light: #F0F6FF;
$horange: #E7967A;  $horange-light: #FAEAE4;
$hred: #D7908F;     $hred-light: #F7E9E9;
$hyellow: #F1D6A4;  $hyellow-light: #FFF9EF;
$hpurple: #887DD0;  $hpurple-light: #F0EEF7;
$hblack: #333333;   $hblack-light: #777777;

//sizes
$sidebar-collapsed-width: 45px;

$dropdown-item-active-background-color: $primary-light;
$dropdown-item-active-color: $primary;
