@import 'vars';

.edit-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate( calc(100% + 20px), -50% );

}

.subcol{
    border-bottom: 1px solid $light;
    // height: 80px;
}
