@import "vars";

.rolAssignmentTabs {
  ul {
    border: none !important;

    li.is-active a {
      border: none !important;
      color: $hblack !important;
      text-decoration: underline;
    }
  }
}
