@import 'vars.scss';

.reply{

    position: relative !important;
    overflow: visible;


    &::after{
        content:"";
        position: absolute;
        top: 0;
        left: 23px;
        height: 100%;
        width: 3px;
        z-index: 0;

        border-left: 3px solid $hgreen;
        // z-index: 20;
    }
}
