@import 'vars';
$fillCol: #333333;

.field{
    @media only screen and (min-width: 769px) {
        min-height: 80px !important;
        max-height: 80px !important;
    }

    @media only screen and (max-width: 769px) {
        min-height: 100px !important;
        max-height: 100px !important;
    }
}

.field2{
    @media only screen and (min-width: 769px) {
        min-height: 80px !important;
        max-height: 80px !important;
    }

    @media only screen and (max-width: 769px) {
        min-height: 230px !important;
        max-height: 230px !important;
    }

}

.field21{
    @media only screen and (min-width: 769px) {
        min-height: 130px !important;
        max-height: 130px !important;
    }

    @media only screen and (max-width: 769px) {
        min-height: 330px !important;
        max-height: 430px !important;
    }

}

.field22{
    @media only screen and (min-width: 769px) {
        min-height: 200px !important;
        max-height: 200px !important;
    }

    @media only screen and (max-width: 769px) {
        min-height: 530px !important;
        max-height: 630px !important;
    }

}

.field23{
    @media only screen and (min-width: 769px) {
        min-height: 300px !important;
        max-height: 300px !important;
    }

    @media only screen and (max-width: 769px) {
        min-height: 430px !important;
        max-height: 830px !important;
    }

}

.newcheck{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $fillCol;
    font-size: 0.9rem;
    background-color: white;

    .num{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.xl{
        &::after{
            @media only screen and (max-width: 769px) {
                top: 30px;
                height: 200px;
            }
        }
    }

    &::after{
        content:"";
        position: absolute;
        @media only screen and (min-width: 769px) {
            top: 30px;
            height: 110px;
        }

        @media only screen and (max-width: 769px) {
            bottom: -120px;
            height: 120px;
        }

        left: 12px;
        right: 0;
        border-left: 3px dotted black;
        z-index: 10;
    }
}


.newcheck2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $fillCol;
    font-size: 0.9rem;
    background-color: white;

    .num2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.xl{
        &::after{
            @media only screen and (max-width: 769px) {
                top: 30px;
                height: 200px;
            }
        }
    }

    &::after{
        content:"";
        position: absolute;
        @media only screen and (min-width: 769px) {
            top: 30px;
            height: 330px;
        }

        @media only screen and (max-width: 769px) {
            bottom: -120px;
            height: 120px;
        }

        left: 12px;
        right: 0;
        border-left: 3px dotted black;
        z-index: 10;
    }
}

.newcheck3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $fillCol;
    font-size: 0.9rem;
    background-color: white;

    .num2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.xl{
        &::after{
            @media only screen and (max-width: 769px) {
                top: 30px;
                height: 200px;
            }
        }
    }

    &::after{
        content:"";
        position: absolute;
        @media only screen and (min-width: 769px) {
            top: 30px;
            height: 300px;
        }

        @media only screen and (max-width: 769px) {
            bottom: -500px;
            height: 500px;
        }

        left: 12px;
        right: 0;
        border-left: 3px dotted black;
        z-index: 10;
    }
}


.newcheck4{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $fillCol;
    font-size: 0.9rem;
    background-color: white;

    .num2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.xl{
        &::after{
            @media only screen and (max-width: 769px) {
                top: 30px;
                height: 200px;
            }
        }
    }

    &::after{
        content:"";
        position: absolute;
        @media only screen and (min-width: 769px) {
            top: 30px;
            height: 200px;
        }

        @media only screen and (max-width: 769px) {
            bottom: -400px;
            height: 400px;
        }

        left: 12px;
        right: 0;
        border-left: 3px dotted black;
        z-index: 10;
    }
}


.large-line{
    &::after{

        @media only screen and (min-width: 769px) {
            bottom: -80px !important;
            height: 75px !important;
        }
    }

}


.no-line{
    &::after{
        display: none !important;
    }
}

.no-line-desktop{
    &::after{
        @media only screen and (min-width: 769px) {
            display: none !important;
        }
    }
}

.def_checkbox{
    appearance: none;
}



.def_checkbox:checked ~ .newcheck{
    background-color: $fillCol !important;
    .num{
        color: white !important;
    }
}

.cool-input{
    border: none !important;
    border-bottom: 1px solid #999999 !important;

    &[type=text]:read-only{
        background: $light;
    }

}

.columns.is-vcentered-desktop{
    @media only screen and (min-width: 769px){
        align-items: center;
    }
}
