
.filter-tag{

    .delete{

        background: rgba(0,0,0,0) !important;

        &:after{
            background: black;
        }
        &:before{
            background: black;
        }
    }
}
